html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* wwwroot/css/custom.css or wwwroot/css/site.css */
.table td, .table th {
    padding: 0.25rem; /* Reduces cell padding */
    font-size: 0.85rem; /* Slightly smaller font size */
}

.pagination {
    margin: 0; /* Remove margin for a tighter layout */
}

.page-item {
    margin: 0 2px; /* Adjust space between page items */
}

.page-link {
    padding: 0.25rem 0.5rem; /* Adjust padding for sleeker look */
    font-size: 0.8rem; /* Adjust font size */
}
